.l-header {
    height: .8rem;
    background: #d53c34;
    position: relative;
}
.l-header .back {
    position: absolute;
    left: .1rem;
    top: .1rem;
}
.l-header .back i {
    font-family: "宋体";
    font-size: .6rem;
    display: block;
    padding: 0 10px;
    color: rgba(255, 255, 255, 1);
}
.l-header .title {
    text-align: center;
    line-height: .8rem;
    font-size: .32rem;
    color: rgba(255, 255, 255, 1);
}


.l-nav {
    height: .73rem;
}
.l-nav ul {
    width: 100%;
    height: .7rem;
    position: relative;
    display: flex;
}
.l-nav ul li {
    flex: 1;
    margin: 0 .3rem;
    font-size: .28rem;
    text-align: center;
    line-height: .7rem;
}
.l-nav dl {
    height: .03rem;
}
.l-nav dl span {
    display: block;
    height: 100%;
    background: #d53c34;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.l-slider img {
    width: 100%;
}

.l-song-list {
    padding: 5px .18rem;
}
.l-song-list ul li {
    padding: .15rem 0;
    border-bottom: 1px solid #eff0f2;
    -webkit-animation: itemAni .3s ease both;
    animation: itemAni .3s ease both;
}
@keyframes itemAni {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.l-song-list ul li a {
    display: flex;
}
.l-song-list ul li a > .img-wrapper {
    display: block;
    width: 11%;
}
.l-song-list ul li a > .img-wrapper img {
    width: 100%;
}
.l-song-list ul li a > .con-right {
    flex: 1;
    margin-left: 10px;
}
.l-song-list ul li a > .con-right h5 {
    font-size: .28rem;
    line-height: 1.5;
}
.l-song-list ul li a > .con-right p {
    font-size: .24rem;
    line-height: 1.2;
    color: rgba(0, 0, 0, .5);
}


.loading {
    width: 40px;
    height: 40px;
    background: url(../../common/img/loading.gif) center no-repeat;
    background-size: cover;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    top: 50%;
    margin-top: -20px;
    z-index: 9;
}
